div {
	
	width: 25%;
	margin: 0 auto;
	font-size: 30px;
	font-family: tahoma
}

body {
	background-image: url("https://i.pinimg.com/originals/59/eb/41/59eb41e080c384009eb6a7cbe2fdb890.jpg");
}

table {
	background-color: #f2cbeb
	
}
h1{
	color:#4d3487;
}
a{
	color:#4d3487;
}